<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid home-main">
  <h2>Angular To-Do App</h2>
  <button type="button" class="btn btn-default">
    <a href="/todo">Hemen giriş yapın!</a>
  </button>
</div>
<div class="container-fluid home-content1">
  <div class="row">
    <div class="col-md-6 content1-left">
      <h3>İlk öncelikle giriş yapın</h3>
      <button type="button" class="btn btn-default">
        <a href="/login">Giriş için tıklayınız!</a>
      </button>
      <!-- <div class="content1-left"></div> -->
    </div>
    <div class="col-md-6 content1-right text-dark">
      <h4>
        Bu uygulama, kolay bir kullanıma ve sade bir arayüze sahiptir.
        <h4 class="mt-3">
          Kısaca tanımı;
          <span class="text-primary">yapılacaklar</span>
          listesidir.
          <h4 class="mt-3">
            İş hayatı ve günlük hayatta not almak, günlük yapılması gereken
            işlerin planlamasını sağlamak gibi bir çok alanda kolaylıkla
            kullanılabilir.
          </h4>
        </h4>
      </h4>
    </div>
  </div>
</div>
